.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}



.changingFont {
  font-size: 50px;
  margin-top: 50px;
}
