@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:hover {
  text-decoration: none !important;
}

.titleWebay {
  font-size: 25px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.spanWeb {
  padding-top: 10px;
}
.tab {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  margin-right: 20px;
}
.selected {
  color: #0056b3;
}